parameters:
	dbname: nazev_databaze

database:
	dsn: 'mysql:host=127.0.0.1;dbname=%dbname%'
	user: root
	password:
	options:
		lazy: yes

doctrine:
	user: root
	password:
	dbname: %dbname%
	metadata:
		App: %appDir%\Model\Entities