parameters:
	dbname: project

database:
	dsn: 'mysql:host=localhost;dbname=%dbname%'
	user: root
	password: root
	options:
		lazy: yes

doctrine:
	user: root
	password: root
	dbname: %dbname%
	metadata:
		App: %appDir%/Model/Entities