{block title}
	Přidat riziko
{/block}

{block content}
	{block modalTitle}
		Přidat riziko
	{/block}

	{block modal}
			{import './../components/bootstrap-form.latte'} {* bootstrap formuláře *}
			{include bootstrap-form, form => addRiskForm, labelSize => 4, inputSize => 7}
	{/block}
{/block}
{block scripts}

{/block}

{block head}
	<link rel="stylesheet" href="{$basePath}/css/adminModule/project/style.css">
{/block}
