{block title}
    Změnit riziko
{/block}

{block content}
    {block modalTitle}
        Změnit riziko
    {/block}

    {block modal}
        {import './../components/bootstrap-form.latte'} {* bootstrap formuláře *}
        {include bootstrap-form, form => changeRiskForm, labelSize => 4, inputSize => 7}
    {/block}
{/block}
{block scripts}

{/block}

{block head}
    <link rel="stylesheet" href="{$basePath}/css/adminModule/project/style.css">
{/block}
