{* Latte template *}

<div id='left-menu' class="left side-menu">
	<div class="project-name"><a n:href=":Base:Homepage:">Octopus <span>Systém rizik</span></a></div>
	{include './profile.latte'}
	{import './bootstrap-form.latte'} {* bootstrap formuláře *}
	{include bootstrap-form, form => chooseOneForm, labelSize => 12, inputSize => 12}
	{include './menu.latte'}
</div>

