{block title}
	{if isset($project)}Statistiky projektu {$project->getName()} {else} Projekt nebyl zvolen {/if}
{/block}

{block content}
	{if isset($project)}
        Statistiky projektu {$project->getName()} a nějaké blbosti, tady mi napište co tady chcete
	{else}
        <div>Zvolte si prosím ve výběru vlevo.</div>
	{/if}

{/block}

{block scripts}

{/block}

{block head}
    <link rel="stylesheet" href="{$basePath}/css/adminModule/statistic/style.css">
{/block}